<a class="xcard" [routerLink]="['/launches', data.id]">
    <nz-card nzHoverable [nzCover]="coverTemplate">
      <nz-card-meta 
        class="text-center"
        [nzTitle]="metaTemplate">
      </nz-card-meta>
    </nz-card>
    
    <ng-template #coverTemplate>
      <img 
        *ngIf="!!(data?.links?.patch?.small)"
        nz-image
        nzDisablePreview="true"
        [alt]="data?.name" 
        [nzSrc]="data?.links?.patch?.small"/>
      <img 
        *ngIf="!(data?.links?.patch?.small)"
        nz-image
        nzDisablePreview="true"
        [alt]="data?.name" 
        nzSrc="assets/spacex.svg"/> 
    </ng-template>

    <ng-template #metaTemplate>
      <div class="status">
        <nz-tag *ngIf="data.upcoming" [nzColor]="'processing'">Upcoming</nz-tag>
        <nz-tag *ngIf="data.success" [nzColor]="'success'">Success</nz-tag>
        <nz-tag *ngIf="!data.success && !data.upcoming" [nzColor]="'error'">Failed</nz-tag>
      </div>
      <div><small>{{ data?.date_utc | date: 'mediumDate'}}</small></div>
      <div>{{ data?.name }} #{{ data?.flight_number }}</div>
    </ng-template>
</a>
