<div class="card" tabindex="0">
    <div class="card-image" tabindex="0">
        <img src="https://images2.imgbox.com/3c/0e/T8iJcSN3_o.png">
    </div>
    <h3 tabindex="0" class="text-semi-blue">FalconSat#1</h3>
    <div class="card-details">
        <div>
            <label tabindex="0" class="text-semi-bold">Mission Ids:</label> 
            <ul class="text-semi-blue">
                <li tabindex="0">101</li>
                <li tabindex="0">201</li>
            </ul>
        </div>
        <div tabindex="0"><label class="text-semi-bold">Launch Year: </label><span class="text-semi-blue">{{ 2006 }}</span></div>
        <div tabindex="0"><label class="text-semi-bold">Successful Launch: </label><span class="text-semi-blue">true</span></div>
        <div tabindex="0"><label class="text-semi-bold">Successful Landing: </label><span class="text-semi-blue">true</span></div> 
    </div>
</div>