<div class="card" tabindex="0">
    <div class="card-image" tabindex="0">
        <img [alt]="data?.mission_name" [src]="data?.links?.mission_patch_small">
    </div>
    <h3 tabindex="0" class="text-semi-blue">{{ data?.mission_name }}#{{ data?.flight_number }}</h3>
    <div class="card-details">
        <div>
            <label tabindex="0" class="text-semi-bold">Mission Ids:</label> 
            <ul class="text-semi-blue">
                <li tabindex="0" *ngFor="let id of data?.mission_id">{{ id }}</li>
            </ul>
        </div>
        <div tabindex="0"><label class="text-semi-bold">Launch Year: </label><span class="text-semi-blue">{{ data?.launch_year }}</span></div>
        <div tabindex="0"><label class="text-semi-bold">Successful Launch: </label><span class="text-semi-blue">{{ data?.launch_success }}</span></div>
        <div tabindex="0"><label class="text-semi-bold">Successful Landing: </label><span class="text-semi-blue">{{ data?.rocket?.first_stage?.cores[0]?.land_success}}</span></div> 
    </div>
</div>