@import '../../styles/variables';

:host {
    .card {
        width: 100%;
        background: #fff;
        padding: 20px;
        margin: 10px;
        border-radius: 8px;
    }
    img {
        width: auto;
        height: 220px;
        object-fit: cover;
    }

    .card-image {
        display: flex;
        justify-content: center;
        background: $color-gray;
        padding: 2px;
    }

    .card-details {
        padding: 2px;
    }

    ul {
        margin-block: 4px;
        padding-inline: 20px;
    }
}