@import '../styles/variables';

:host {

  .layout {
    min-height: 100vh;
  }

  .logo {
    color: $white;
    font-size: 1.2rem;
    font-family: 'Press Start 2P', cursive;

    &:hover {
      color: $aquamarine;
    }
  }

  nz-header {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  [nz-menu] {
    line-height: 64px;
  }

  nz-content {
    margin-top: 64px;
  }

  .inner-content {
    background: $white;
    padding: 24px;
    min-height: 380px;
  }

  nz-footer {
    text-align: center;
  }
}
