<nz-layout class="layout">
  <nz-header><div class="logo" routerLink="/">SpaceXplorer</div></nz-header>
  <nz-content><router-outlet></router-outlet></nz-content>
  <nz-footer>
    <div><strong>API from</strong><a href="https://docs.spacexdata.com/"> SpaceXdata </a></div>
    <div><strong>Built with</strong><a href="https://angular.io"> Angular </a> & <a href="https://ng.ant.design"> Ant Design </a>. <strong>Developed by</strong> - <a href="https://www.linkedin.com/in/k-a-m-a-l-d-e-v/">Kamal Dev</a></div>
    <div><strong>SpaceX</strong> Logo and everything else here definitely belongs to <strong>SpaceX</strong></div>
  </nz-footer>
</nz-layout>