:host {
    .content {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        margin: 1rem auto;
        justify-content: space-between;
        
        &:after {
            content: "";
            flex: auto;
        }

        .item {
            padding: 0.5em;
            box-sizing: border-box;
        }
    }
    
    @media (max-width: 700px) {
        .item {
            width: 100%;
        }
    }

    @media (min-width: 701px) and (max-width: 1024px) { 
        .item {
            width: 50%;
        }
    }

    @media (min-width: 1025px) and (max-width: 1440px) { 
        .item {
            width: 25%;
        }
    }

    @media (min-width: 1440px) { 
        .item {
            width: 25%;
        }
    }

    nz-page-header {
        &div:first-child {
            padding: 0 0.5rem;
            background: red;
        }
    }
}