<div class="inner-content">
  <nz-page-header nzBackIcon [nzGhost]="true" (nzBack)="onBack()">
    <nz-avatar
      nz-page-header-avatar
      nzIcon="rocket"
      style="background-color: #000"
      [nzSrc]="(details$ | async)?.links?.patch?.small"
    ></nz-avatar>
    <nz-page-header-title>{{ (details$ | async)?.name }} #{{ (details$ | async)?.flight_number }}</nz-page-header-title>
    <nz-page-header-tags>
      <nz-tag
        *ngIf="!(details$ | async)?.success"
        [nzColor]="'error'"
        >Failed</nz-tag
      >
      <nz-tag
        *ngIf="(details$ | async)?.success"
        [nzColor]="'success'"
        >Success</nz-tag
      >
    </nz-page-header-tags>
    <nz-page-header-content class="content">
      <div nz-row [nzGutter]="[16]" *ngIf="details$ | async">
        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="12">
          <div nz-row *ngIf="details$ | async">
            <div nz-col [nzSpan]="24">
              <nz-list nzItemLayout="horizontal">
                <nz-list-item>
                  <nz-list-item-meta nzDescription="Name">
                    <nz-list-item-meta-title>
                      {{ (details$ | async).name }}
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>

                <nz-list-item>
                  <nz-list-item-meta nzDescription="Flight number">
                    <nz-list-item-meta-title>
                      {{ (details$ | async).flight_number }}
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>

                <nz-list-item>
                  <nz-list-item-meta nzDescription="Date">
                    <nz-list-item-meta-title>
                      {{ (details$ | async).date_utc | date: 'long' }}
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>
                <nz-list-item>
                  <nz-list-item-meta nzDescription="Details">
                    <nz-list-item-meta-title>
                      {{ (details$ | async).details || 'No Record' }}
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>

                <nz-list-item>
                  <nz-list-item-meta nzDescription="Links">
                    <nz-list-item-meta-title>
                      <div class="content-link">
                        <a><i nz-icon nzType="youtube" nzTheme="outline"></i></a>
                        <a><i nz-icon nzType="link" nzTheme="outline"></i></a>
                        <a><i nz-icon nzType="reddit" nzTheme="outline"></i></a>
                      </div>
                    </nz-list-item-meta-title>
                  </nz-list-item-meta>
                </nz-list-item>

              </nz-list>
            </div>
          </div>
        </div>
        <div nz-col class="gutter-row" [nzXs]="24" [nzMd]="12">
          <div nz-row [nzGutter]="[16, 16]" *ngIf="details$ | async">
            <ng-container
              *ngFor="let index of (details$ | async)?.links?.flickr?.original"
            >
              <div
                nz-col
                class="gutter-row"
                [nzXs]="24"
                [nzSm]="12"
                [nzMd]="6"
              >
                <img
                  nz-image
                  style="object-fit: cover; height: 200px; width: 100%"
                  nzSrc="{{ index }}"
                  alt=""
                />
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </nz-page-header-content>
  </nz-page-header>
</div>
