/* You can add global styles to this file, and also import other style files */
@import './styles/variables';

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    overflow-x: hidden;
    box-sizing: inherit;
    text-rendering: optimizeLegibility;
}

.ant-layout-header {
    z-index: 9;
}

.text-center {
    text-align: center;
}

// override ant-css 
.ant-page-header-heading {
    padding: 0 0.5rem;
}

.xcard {
    .status {
        visibility: hidden;
    }

    &:hover {
        .status {
            visibility: visible;
        }
   }

   img {
        padding: 10px;
        height: 200px;
        object-fit: contain;
        border-radius: 2px 2px 0 0;
    }
}

nz-select {
    width: 120px;
    margin: 0 10px !important;
}